@import "./Variables.scss";
@import './foter.scss';
main {
    font-family: Nunito-Regular;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.73;
    color: #4a4a4a;
}

.panel-default {
    color: #333;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.small {
    font-size: 85%;
}

.form-group {
    margin-bottom: 15px;
}

.panel {
    border-color: #ddd;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: $PrussianBlue;
    font-family: Lato-Bold;
}

.nav-top {
    background-color: $LightSeaGreen;
    min-height: 20px;
}