@import './Top.scss';
@import './Variables.scss';
@import "./Navbar.scss";
@import './foter.scss';
body {
    overflow-x: hidden;
}

.circleA {
    position: absolute;
    top: 65%;
    left: 16.7%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 5px solid #213E75;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    font-family: Lato-Bold;
}

.circleB {
    position: absolute;
    top: 65%;
    left: 33.4%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 5px solid #3C837A;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    font-family: Lato-Bold;
}

.circleC {
    position: absolute;
    top: 65%;
    left: 50.1%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 5px solid #BC552F;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    font-family: Lato-Bold;
}

.circleD {
    position: absolute;
    top: 65%;
    left: 66.8%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 5px solid #000000;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    font-family: Lato-Bold;
}

.circleE {
    position: absolute;
    top: 65%;
    left: 83.5%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 5px solid #B9B03B;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    font-family: Lato-Bold;
}

.nav-top {
    background-color: $LightSeaGreen;
    min-height: 20px;
}