@import './Top.scss';
@import './foter.scss';
@import './Variables.scss';
@import './Navtop.scss';
@import "./Navbar.scss";
.Headline {
    font-family: Lato-Bold;
    color: $PrussianBlue;
    font-size: 35px;
}

.Bread {
    font-family: Nunito-Regular;
    color: black;
    font-size: 20px;
}

.sted {
    font-family: Lato-Bold;
    font-size: 30px;
}