@import './Variables.scss';
@import './Navtop.scss';
@import "./Navbar.scss";
@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}

#inlineCheckbox1 {
    color: blue;
}

h4 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: $PrussianBlue;
    font-family: Lato-Bold;
}

.A {
    font-family: Nunito-Regular;
    background-color: #213E75;
    color: white;
}

.B {
    font-family: Nunito-Regular;
    background-color: #3C837A;
    color: white;
}

.C {
    font-family: Nunito-Regular;
    background-color: #BC552F;
    color: white;
}

.D {
    font-family: Nunito-Regular;
    background-color: #000000;
    color: white;
}

.E {
    font-family: Nunito-Regular;
    background-color: #B9B03B;
    color: white;
}

.bg-inf {
    background-color: #3C837A;
}

.bg-succes {
    background-color: #213E75;
}

.bg-dang {
    background-color: #000000;
}