@charset "UTF-8";

/*---media Queries --*/


/*--- Fonts --*/

@font-face {
    src: url(../Fonts/Lato-Regular.ttf);
    font-family: Lato-Regular;
}

@font-face {
    src: url(../Fonts/Lato-Bold.ttf);
    font-family: Lato-Bold;
}

@font-face {
    src: url(../Fonts/NunitoSans-Regular.ttf);
    font-family: Nunito-Regular;
}

@font-face {
    src: url(../Fonts/NunitoSans-Bold.ttf);
    font-family: Nunito-Bold;
}

.image {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    font-family: Lato-Regular;
}

.size {
    width: 100vw;
}

.spon {
    font-size: 20px;
    color: black;
    font-family: Lato-Regular;
}

.footer {
    background-color: rgba(15, 187, 173, 0.3);
}


/*---media Queries --*/


/*--- Fonts --*/

@font-face {
    src: url(../Fonts/Lato-Regular.ttf);
    font-family: Lato-Regular;
}

@font-face {
    src: url(../Fonts/Lato-Bold.ttf);
    font-family: Lato-Bold;
}

@font-face {
    src: url(../Fonts/NunitoSans-Regular.ttf);
    font-family: Nunito-Regular;
}

@font-face {
    src: url(../Fonts/NunitoSans-Bold.ttf);
    font-family: Nunito-Bold;
}


/*---media Queries --*/


/*--- Fonts --*/

@font-face {
    src: url(../Fonts/Lato-Regular.ttf);
    font-family: Lato-Regular;
}

@font-face {
    src: url(../Fonts/Lato-Bold.ttf);
    font-family: Lato-Bold;
}

@font-face {
    src: url(../Fonts/NunitoSans-Regular.ttf);
    font-family: Nunito-Regular;
}

@font-face {
    src: url(../Fonts/NunitoSans-Bold.ttf);
    font-family: Nunito-Bold;
}

.nav-item {
    font-size: 20px;
    font-family: Lato-Bold;
}

.fas {
    size: 1px;
}

.navbar {
    background-color: #F3F3F3;
}

.fab {
    font-weight: 800;
}


/*---media Queries --*/


/*--- Fonts --*/

@font-face {
    src: url(../Fonts/Lato-Regular.ttf);
    font-family: Lato-Regular;
}

@font-face {
    src: url(../Fonts/Lato-Bold.ttf);
    font-family: Lato-Bold;
}

@font-face {
    src: url(../Fonts/NunitoSans-Regular.ttf);
    font-family: Nunito-Regular;
}

@font-face {
    src: url(../Fonts/NunitoSans-Bold.ttf);
    font-family: Nunito-Bold;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url(../Img/Forside.png);
    background-size: cover;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 66%;
}

h1 {
    position: relative;
    color: #ffffff;
    font-size: 100px;
    line-height: 0.9;
    text-align: center;
}

h2 {
    position: relative;
    color: #ffffff;
    font-size: 80px;
    line-height: 0.9;
    text-align: center;
}

.btn {
    position: relative;
    color: white;
    font-size: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flyt {
    padding: 30px;
    font-family: Lato-Regular;
}

body {
    overflow-x: hidden;
}

.scroll {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Nunito-Regular;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section .container {
    margin: 100px;
}

section h1 {
    font-size: 60px;
    color: black;
}

.udtalelser {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #003366;
    font-family: Lato-Bold;
    padding-top: 50px;
}

.reveal {
    position: relative;
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
    opacity: 0;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.reveal.active {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}

.nav-top {
    background-color: #0FBBAD;
    min-height: 20px;
}

.kort {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #003366;
    font-family: Lato-Bold;
}

.overskrift {
    font-size: 40px;
    font-family: Lato-Regular;
    color: #003366;
    padding-bottom: 20px;
}

.A {
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: 20px;
    font-family: Nunito-Regular;
}

.B {
    position: absolute;
    top: 70%;
    left: 35%;
    font-size: 20px;
    font-family: Nunito-Regular;
}

.C {
    position: absolute;
    top: 70%;
    left: 65%;
    font-size: 20px;
    font-family: Nunito-Regular;
}

p {
    font-family: Nunito-Regular;
}

.maps {
    width: 600px;
    margin: 0 auto;
}

iframe {
    padding-bottom: 50px;
}

.text {
    margin-bottom: 20px;
}

.image {
    margin-bottom: 20px;
}

.ok {
    font-size: 35px;
    font-family: Lato-Regular;
    text-align: left;
    color: #003366;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootsrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {...}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {...}

Large (lg) devices (dektops 992px and up)
@media (min-width: 992px) {...}

Extra (xl) large devices (large desktops 1200æx and up)
@media (min-width: 1200pxpx) {...}
*/


/*# sourceMappingURL=main.css.map */