@import './Top.scss';
@import './foter.scss';
@import './Variables.scss';
@import "./Navbar.scss";
@import "./TopPic.scss";
body {
    overflow-x: hidden;
}

.scroll {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito-Regular;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    margin: 100px;
}

section h1 {
    font-size: 60px;
    color: black;
}

.udtalelser {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: $PrussianBlue;
    font-family: Lato-Bold;
    padding-top: 50px;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.nav-top {
    background-color: $LightSeaGreen;
    min-height: 20px;
}

.kort {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: $PrussianBlue;
    font-family: Lato-Bold;
}

.overskrift {
    font-size: 40px;
    font-family: Lato-Regular;
    color: $PrussianBlue;
    padding-bottom: 20px;
}

.A {
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: 20px;
    font-family: Nunito-Regular;
}

.B {
    position: absolute;
    top: 70%;
    left: 35%;
    font-size: 20px;
    font-family: Nunito-Regular;
}

.C {
    position: absolute;
    top: 70%;
    left: 65%;
    font-size: 20px;
    font-family: Nunito-Regular;
}

p {
    font-family: Nunito-Regular;
}

.maps {
    width: 600px;
    margin: 0 auto;
}

iframe {
    padding-bottom: 50px;
}

.text {
    margin-bottom: 20px;
}

.image {
    margin-bottom: 20px;
}

.ok {
    font-size: 30px;
    font-family: Lato-Regular;
    text-align: left;
    color: $PrussianBlue;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootsrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {...}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {...}

Large (lg) devices (dektops 992px and up)
@media (min-width: 992px) {...}

Extra (xl) large devices (large desktops 1200æx and up)
@media (min-width: 1200pxpx) {...}
*/