@import './TopPic.scss';
@import './foter.scss';
@import './Variables.scss';
@import './Navtop.scss';
@import "./Navbar.scss";
.scroll {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito-Regular;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    margin: 100px;
}

section h1 {
    font-size: 60px;
    color: black;
}

section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.nav-top {
    background-color: $LightSeaGreen;
    min-height: 40px;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootsrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {...}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {...}

Large (lg) devices (dektops 992px and up)
@media (min-width: 992px) {...}

Extra (xl) large devices (large desktops 1200æx and up)
@media (min-width: 1200pxpx) {...}
*/