@import './Top.scss';
@import './foter.scss';
@import './Variables.scss';
@import "./Navbar.scss";
body {
    overflow-x: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    margin: 100px;
}

section h1 {
    font-size: 60px;
    color: $PrussianBlue;
    font-family: Lato-Bold;
}

section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: $PrussianBlue;
    font-family: Lato-Bold;
    padding-bottom: 20px;
}

#video {
    width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: $PrussianBlue;
    font-family: Lato-Bold;
    padding-bottom: 10px;
    padding-top: 40px;
}

p {
    font-family: Nunito-Regular;
}

.Infografik {
    width: 500px;
    margin: 0 auto;
}

.nav-top {
    background-color: $LightSeaGreen;
    min-height: 20px;
}