@import "./Variables.scss";
#main {
    width: 100%;
<<<<<<< HEAD
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url(../Img/forside.png);
=======
    height: 75vh;
    background: url(../Img/Forside.png) top left;
>>>>>>> ed30baaef3725d8205f45d6da945c2159d0c58ad
    background-size: cover;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
}

#main h1 {
    position: relative;
    color: #ffffff;
    font-size: 100px;
    line-height: 0.9;
    text-align: center;
    font-family: Lato-Regular;
}

#main h2 {
    position: relative;
    color: #ffffff;
    font-size: 80px;
    line-height: 0.9;
    text-align: center;
}

.btn {
    position: relative;
    color: white;
    font-size: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.scrolled-offset {
    margin-top: 70px;
}

.align-items-center {
    align-items: center!important;
}

.d-flex {
    display: flex!important;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

@media(max-width: 768px) {
    #main {
        height: 100vh;
        h1 {
            font-size: 28px;
            line-height: 36px;
        }
        h2 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 30px;
        }
    }
}

@media(min-width: 1024px) {
    .featured-services .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #main {
        background-attachment: fixed;
    }
}