$LightSeaGreen: #0FBBAD;
$PrussianBlue: #003366;
$Cultured: #F3F3F3;
$OrangeCrayola: #F2742E;

/*---media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}


/*--- Fonts --*/

@font-face {
    src: url(../Fonts/Lato-Regular.ttf);
    font-family: Lato-Regular;
}

@font-face {
    src: url(../Fonts/Lato-Bold.ttf);
    font-family: Lato-Bold;
}

@font-face {
    src: url(../Fonts/NunitoSans-Regular.ttf);
    font-family: Nunito-Regular;
}

@font-face {
    src: url(../Fonts/NunitoSans-Bold.ttf);
    font-family: Nunito-Bold;
}